/*html {
  /* No tiene soporte en Edge ni Safari 
  scroll-behavior: smooth;
}*/

section {
	padding-top: 2.625rem;/* sumatoria de padding + content del navbar */
}
footer {
	padding-top: 2.625rem;
}

#imgSM {
	height: 64vh;
}
#Testimonials img {
	height: 20vh;
}